@charset "UTF-8";




        #slider{ width: 100%; height: 650px; margin: 0 auto; position: relative;}
        #slider img {width: 2045px; height: 100%; margin: 0 auto; float:right;}
        #slider h1 {position:absolute; text-align: center; top: 250px; left: 550px; font-size: 50pt; color: white; font-family: "Arial"; font-weight:bold; text-shadow: black 10px 0 10px;}

        #main {width: 1140px; height: 500px; margin: 0 auto;}
        #main article { width: 300px; height: 400px; float: left; margin: 80px 10px 10px 60px; padding: 30px 10px 10px 10px; }
        #main article h1 {text-align: center;  padding: 50px 10px 10px 10px; font-weight: bold;}
        #main article p {text-align: center; font-size: 11pt;}
        #main article img {width: 300px; height: 240px; float: left; margin: 10px 10px 10px 10px;}


        #event {width: 100%; height: 513px; margin: 0 auto; background-color: #10421c; padding: 50px 0 ;}
        #event article {width: 1140px; height: 400px; background-color: white; margin: 0 auto; padding: 10px 40px 10px 10px;}
        #event article img {width: 400px; height: 300px; float: left; margin: 40px 10px 10px 150px;}
        .menu {display: inline-block; width: 450px; height: 300px; text-align: center; padding: 100px 50px 50px 50px;}
        .menu h1 {font-size: 30pt; padding: 10px 10px 10px 10px;}
        .menu p {font-size: 12pt;}

        

        #service {width: 100%; height: 400px; margin: 0 auto; background-color: #c8aa79; padding: 40px 10px 10px 10px;}
        #service h1 {text-align: center; font-size: 30px; font-family: Arial, Helvetica, sans-serif;  padding: 20px 0 30px 0;}
        #icon {width: 1000px; height: 250px; margin: 0 auto;}
        .box {width: 150px; height: 200px; display: inline-block; margin: 10px 10px 10px 120px;}
        .box img {width: 100px; height: 100px; margin: 10px 10px 10px 30px;}
        .box h3 { text-align: center; padding: 30px 10px 10px 10px;}
    
        
        
        
        
       

        section {width: 100%; height: 450px; margin: 0 auto; padding: 50px 10px 10px 10px;}
        #product {width: 1140px; height: 400px; margin: 0 auto; }
        .selling {width: 200px; height: 200px; display: inline-block; margin: 10px 10px 10px 50px; }
        .selling h3 {text-align: center;}
        .selling p {text-align: center;}
        #product h1 {text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 30px;}
        #product img { width: 200px; height: 200px; margin: 10px 10px 10px 10px;}
        
        