@charset "UTF-8";


#sub {width: 1140px; height: 600px; margin: 0 auto; border: 3px solid #ededed; box-sizing: border-box; position: relative;}

#product {
    width: 500px; height: 500px; position: absolute; top: 70px; left: 30px;
}
#product img {
    width: 400px; height: 400px; margin: 10px 10px 10px 10px;
}

#sub h3 {padding:30px 30px 30px 30px; font-size:30px; text-align:left;}

table {width: 500px; border-top: 3px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; position: absolute; top: 100px; right: 30px; text-align: center;}

td {padding: 6px 15px;}
td:first-child {width: 100px;}

button {margin: 3px; cursor: pointer;}
button:first-child {background-color: bisque; border-radius: 3px; padding: 10px 20px; color: #666; border: none;}
button:nth-child(2) {background-color: bisque; border-radius: 3px; padding: 10px 20px; color:#666; border: none; border: 1px solid #ddd;}
button:nth-child(3) {background-color: bisque; border-radius: 3px; padding: 10px 20px; color:#666; border: none; border: 1px solid #ddd;}

#pro-pic {width: 1140px; height: 400px; margin: 0 auto; padding: 30px;}
.selling {width: 200px; height: 200px; display: inline-block; margin: 10px 10px 10px 30px; }
.selling h3 {text-align: center;}
.selling p {text-align: center;}
#pro-pic h1 {text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 30px;}
#pro-pic img { width: 200px; height: 200px; margin: 10px 10px 10px 10px;}

#shipping {width:1200px; height:500px; margin:200px auto 0;}
#shipping > ul {width:1200px; height:50px; margin:40px auto 0px;}
#shipping > ul > li {width:300px; height:100%; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; border-bottom:1px solid #000; font-size:13px;}
#shipping > ul > li > a {color:#000;} 


#shipping > h2 {float:left; padding:50px 20px 0px; font-size:19px;}
#shipping > #shipping_textbox {width:100%; height:270px;}
#shipping > #shipping_textbox > ul {display:block; width:1100px; height:280px; margin:100px 35px 0px;}
#shipping > #shipping_textbox > ul > li {font-size:13px; list-style:disc; margin:7px 10px; color:#666;}

#detail {margin: 0 auto;}
#detail img{margin: 0 auto;}